/* DescriptionPage.css */

/* Container */
.description-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  border-radius: 10px;
  border: 4px solid whitesmoke;
  min-width: 560px;
}

/* Image Section */
.image-section {
  text-align: center;
}

.image-section img {
  max-width: 100%;
  height: auto;
  border: 2px solid #3498db;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}

.image-section h2 {
  font-size: 24px;
  margin: 10px 0;
}

/* Button 1 */
.button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0;
  text-align: center;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2980b9;
}

/* List Section */
.list-section ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.list-section li {
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.list-section li:hover {
  background-color: #f0f0f0;
}

/* Button 2 */
.button2 {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px 0;
  text-align: center;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.button2:hover {
  background-color: #c0392b;
}
#disname{
  font-size: 38px;
  font-weight: 400;
}
